.VideoCard {
  width: calc(25% - 16px);

  margin: 0px;
  text-decoration: none;
}
.VideoWrap {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
}
.Thumbnail {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.Title {
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
}
.Active {
  border: 3px solid #fad744;
}
