@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
.HomeBtn {
  color: #fad744;
  font-size: 20px;
  margin-left: 10px;
}
.Title {
  color: #fad744;
  font-family: 'Caveat Brush', cursive;
  text-shadow: 2px 5px #2b3252;
  font-size: 90px;
  text-align: center;
  margin: 0;
}
.WatchPage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
